<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="container">
        <h1>Find a movie</h1>
        <p>Search for a movie using the form below:</p>
        <form #f="ngForm" (ngSubmit)="search(f.value)" class="form-inline">
          <input
            required
            minlength="3"
            name="query"
            class="form-control col-form-label col-form-label-lg col-9 "
            type="text"
            placeholder="Search"
            aria-label="Search"
            ngModel
          />
          <button
            [disabled]="f.invalid"
            class="btn btn-secondary col-2 ml-2"
            type="submit"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
